* {
	margin: 0;
	padding: 0;
}


/*navigation*/
.topnav {
 overflow: hidden;
 background-color: #fff;
 box-shadow:0px 2px 2px black;
 position:sticky;
 top:0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #1CA5B8;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
/* Background Home imagen */
.bg { 
    /*imagem usada*/
    background-image: url("../imagens/background1.png");

    /* Porcentagem da tela */
    height: 35%; 

    /* Definicao da escala da imagen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow:0px 2px 2px black;
}




/*corpo do Site*/
body, html {
    height: 100%;
}
body {
	background: white;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: black;
}


p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}

/*
definição dos links
*/
a:link, a:visited {
	color: #333333;
	text-decoration:none;

}
a:hover {
	
	color:#CD3333;
}




/*Style*/


section{
	width: 100%;
	background:white;
	
}


article{
	width:78%;
	float:center;
	background:#fff;
	margin-left: 10%;
	text-align: center;
	

}


/*Rodapé da página*/
footer {
	clear: both;
	background:#242C2F;
	border-top: 2px solid #ddd;
	text-align: center;
	color: #CD3333;
	position:relative;
    bottom:0;
	width:100%;
    padding-bottom:0.6%;
	
}


