* {
	margin: 0;
	padding: 0;
}


/*navigation*/

.topnav {
min-width:100%;
 overflow: hidden;
 background-color: #fff;
 box-shadow:0px 2px 2px black;
 position: fixed;
 top:0;


}

.topnav a {
transition: color 0.2s ease, background 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #1CA5B8;
  color: white;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}


/* Background Home imagen */
.bg { 
    /*imagem usada*/
    background-image: url("../imagens/background1.png");

    /* Porcentagem da tela */
    height: 35%; 

    /* Definicao da escala da imagen */
    margin-bottom:1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow:0px 2px 2px black;
}




/*corpo do Site*/
body, html {
    height: 100%;
}
body {
	background: white;
	font-family: verdana;
	font-size: 32px;
	color: black;
}

/*fontes */
p {
	text-indent:35px;
	font-size: 1.5vw;
	font-size: 3vh;
	line-height: 1.3em;
}
h2{
	text-align:center;
font-size:4.0vh;
padding:2%;
margin-top:1%;
color:#1CA5B8;
}
h3{
font-size:3.0vh;
padding:1%;
margin-top:1%;
}
h4{
font-size:2.5vh;
padding:1%;
margin-top:1%;
}
ul {
	list-style-type: none;
}

/*
definição dos links
*/
a:link, a:visited {
	color: #333333;

}
a:hover {
	
	color:#1CA5B8;
}




/*Style*/

section{
    margin: 0% 10% 0% 10%;
	width: 80%;
	background:white;
	text-align:justify;
	font-size: 3em;

}

/*blocos de conteudo*/
#home{
	width:100%;

}
#fatec{
	width:100%;
}
img.fatec{
	float:right;
	padding:1.5%;
	max-width:550px;
    width: 100%;
    max-height: 320px;
    height: auto;
}
img.fatec2{
	float:left;
	padding:1.5%;
	max-width:590px;
    width: 100%;
    max-height: 320px;
    height: auto;
}


#sistemas{
	width:100%
}
#TI{
	width:100%
}

/*flex box da pag fatec*/
#galeria{
	padding:0.5vw;
	font-size:0;
	flex-flow:row wrap;
	display:flex;
}
#galeria div{
	flex:auto;
	width:250px;
	margin:0.5vw;
}
#galeria div img{
	width:100%;
	height:auto;
}
/*Rodapé da página*/
footer {
	clear: both;
	background:#242C2F;
	border-top: 2px solid #ddd;
	text-align: center;
	color: #CD3333;
	position:relative;
    bottom:0;
	width:100%;
    padding-bottom:0.6%;
	
}


